In [33]:
import os
import pandas as pd
from nltk import word_tokenize, pos_tag, ne_chunk
import re
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columns

In [40]:
data = pd.read_csv('../data/raw/titanic.csv')

In [41]:
def clean_data(data):

    # Calculate total size of family (same surname) including passenger
    data['family.size'] = data['sibsp'] + data['parch'] + 1

    # Add surname column to easily identify relatives. Neo4j can 
    # build relationships based on matching surname and family size.
    data['surname'] = data['name'].str.split(',', expand=True)[0]
    
    # Fill NaN values for Cabins
    #data['cabin'] = data['cabin'].fillna('Unspecified Cabin')

    # Extract deck from cabin number
    data['deck'] = data['cabin'].str[:1]
    #data['deck'].fillna('Unspecified Deck', inplace=True)
    
    # Fill incorrect NaN values of embarked with correct values for passengers
    data.loc[data['ticket'] == '113572', 'embarked'] = 'S'
    
    # Replace embarked with location name
    embarked = {"S": "Southampton", "C": "Cherbourg", "Q": "Queenstown"}
    data['embarked'] = data['embarked'].map(embarked)
    
    # Replace NaN values with Unknown in destination column
    data['home.dest'].fillna("Unspecified Destination", inplace=True)
    
    # Save
    data.to_csv('../data/clean/titanic_clean.csv', index=False)
    
    return data

In [42]:
clean_data(data)

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5          1         1                                Anderson, Mr. Harry
6          1         1                  Andrews, Miss. Kornelia Theodosia
7          1         0                             Andrews, Mr. Thomas Jr
8          1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9          1         0                            Artagaveytia, Mr. Ramon
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12         1         1                      Aubart, Mme. Leontine Pauline
13         1         1                       Barber, Miss. Ellen "Nellie"
14         1         1               Barkworth, Mr. Algernon Henry Wilson
15         1         0                                Baumann, Mr. John D
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18         1         1                              Bazzani, Miss. Albina
19         1         0                               Beattie, Mr. Thomson
20         1         1                      Beckwith, Mr. Richard Leonard
21         1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22         1         1                              Behr, Mr. Karl Howell
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
25         1         0                                Birnbaum, Mr. Jakob
26         1         1                            Bishop, Mr. Dickinson H
27         1         1            Bishop, Mrs. Dickinson H (Helen Walton)
28         1         1                             Bissette, Miss. Amelia
29         1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
30         1         0                       Blackwell, Mr. Stephen Weart
31         1         1                                   Blank, Mr. Henry
32         1         1                            Bonnell, Miss. Caroline
33         1         1                           Bonnell, Miss. Elizabeth
34         1         0                           Borebank, Mr. John James
35         1         1                           Bowen, Miss. Grace Scott
36         1         1                        Bowerman, Miss. Elsie Edith
37         1         1      Bradley, Mr. George ("George Arthur Brayton")
38         1         0                            Brady, Mr. John Bertram
39         1         0                                 Brandeis, Mr. Emil
40         1         0                          Brewe, Dr. Arthur Jackson
41         1         1          Brown, Mrs. James Joseph (Margaret Tobin)
42         1         1     Brown, Mrs. John Murray (Caroline Lane Lamson)
43         1         1    Bucknell, Mrs. William Robert (Emma Eliza Ward)
44         1         1                    Burns, Miss. Elizabeth Margaret
45         1         0                  Butt, Major. Archibald Willingham
46         1         0                              Cairns, Mr. Alexander
47         1         1                  Calderhead, Mr. Edward Pennington
48         1         1   Candee, Mrs. Edward (Helen Churchill Hungerford)
49         1         1                 Cardeza, Mr. Thomas Drake Martinez
50         1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
51         1         0                           Carlsson, Mr. Frans Olof
52         1         0                            Carrau, Mr. Francisco M
53         1         0                             Carrau, Mr. Jose Pedro
54         1         1                Carter, Master. William Thornton II
55         1         1                          Carter, Miss. Lucile Polk
56         1         1                         Carter, Mr. William Ernest
57         1         1          Carter, Mrs. William Ernest (Lucile Polk)
58         1         0                             Case, Mr. Howard Brown
59         1         1  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
60         1         0                      Cavendish, Mr. Tyrell William
61         1         1  Cavendish, Mrs. Tyrell William (Julia Florence...
62         1         0                        Chaffee, Mr. Herbert Fuller
63         1         1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
64         1         1                      Chambers, Mr. Norman Campbell
65         1         1     Chambers, Mrs. Norman Campbell (Bertha Griggs)
66         1         1                        Chaudanson, Miss. Victorine
67         1         1                               Cherry, Miss. Gladys
68         1         1                           Chevre, Mr. Paul Romaine
69         1         1             Chibnall, Mrs. (Edith Martha Bowerman)
70         1         0              Chisholm, Mr. Roderick Robert Crispin
71         1         0                           Clark, Mr. Walter Miller
72         1         1      Clark, Mrs. Walter Miller (Virginia McDowell)
73         1         1                               Cleaver, Miss. Alice
74         1         0                        Clifford, Mr. George Quincy
75         1         0                         Colley, Mr. Edward Pomeroy
76         1         1                        Compton, Miss. Sara Rebecca
77         1         0                   Compton, Mr. Alexander Taylor Jr
78         1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
79         1         1  Cornell, Mrs. Robert Clifford (Malvina Helen L...
80         1         0                          Crafton, Mr. John Bertram
81         1         0                       Crosby, Capt. Edward Gifford
82         1         1                            Crosby, Miss. Harriet R
83         1         1  Crosby, Mrs. Edward Gifford (Catherine Elizabe...
84         1         0                          Cumings, Mr. John Bradley
85         1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
86         1         1                             Daly, Mr. Peter Denis
87         1         1                        Daniel, Mr. Robert Williams
88         1         1                               Daniels, Miss. Sarah
89         1         0                             Davidson, Mr. Thornton
90         1         1               Davidson, Mrs. Thornton (Orian Hays)
91         1         1                            Dick, Mr. Albert Adrian
92         1         1          Dick, Mrs. Albert Adrian (Vera Gillespie)
93         1         1                              Dodge, Dr. Washington
94         1         1                          Dodge, Master. Washington
95         1         1              Dodge, Mrs. Washington (Ruth Vidaver)
96         1         0                         Douglas, Mr. Walter Donald
97         1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
98         1         1        Douglas, Mrs. Walter Donald (Mahala Dutton)
99         1         1  Duff Gordon, Lady. (Lucille Christiana Sutherl...
100        1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
101        1         0                       Dulles, Mr. William Crothers
102        1         1              Earnshaw, Mrs. Boulton (Olive Potter)
103        1         1                      Endres, Miss. Caroline Louise
104        1         1                     Eustis, Miss. Elizabeth Mussey
105        1         0                           Evans, Miss. Edith Corse
106        1         0                                 Farthing, Mr. John
107        1         1               Flegenheim, Mrs. Alfred (Antoinette)
108        1         1                            Fleming, Miss. Margaret
109        1         1                   Flynn, Mr. John Irwin ("Irving")
110        1         0                    Foreman, Mr. Benjamin Laventall
111        1         1                     Fortune, Miss. Alice Elizabeth
112        1         1                         Fortune, Miss. Ethel Flora
113        1         1                         Fortune, Miss. Mabel Helen
114        1         0                     Fortune, Mr. Charles Alexander
115        1         0                                  Fortune, Mr. Mark
116        1         1                Fortune, Mrs. Mark (Mary McDougald)
117        1         1                     Francatelli, Miss. Laura Mabel
118        1         0                        Franklin, Mr. Thomas Parham
119        1         1                      Frauenthal, Dr. Henry William
120        1         1                       Frauenthal, Mr. Isaac Gerald
121        1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
122        1         1                 Frolicher, Miss. Hedwig Margaritha
123        1         1                   Frolicher-Stehli, Mr. Maxmillian
124        1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
125        1         0                                   Fry, Mr. Richard
126        1         0                        Futrelle, Mr. Jacques Heath
127        1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
128        1         0                                  Gee, Mr. Arthur H
129        1         1                               Geiger, Miss. Amalie
130        1         1                     Gibson, Miss. Dorothy Winifred
131        1         1            Gibson, Mrs. Leonard (Pauline C Boeson)
132        1         0                                 Giglio, Mr. Victor
133        1         1                           Goldenberg, Mr. Samuel L
134        1         1       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
135        1         0                          Goldschmidt, Mr. George B
136        1         1                          Gracie, Col. Archibald IV
137        1         1                       Graham, Miss. Margaret Edith
138        1         0                          Graham, Mr. George Edward
139        1         1      Graham, Mrs. William Thompson (Edith Junkins)
140        1         1                    Greenfield, Mr. William Bertram
141        1         1       Greenfield, Mrs. Leo David (Blanche Strouse)
142        1         0                           Guggenheim, Mr. Benjamin
143        1         1                        Harder, Mr. George Achilles
144        1         1       Harder, Mrs. George Achilles (Dorothy Annan)
145        1         1                          Harper, Mr. Henry Sleeper
146        1         1           Harper, Mrs. Henry Sleeper (Myna Haxtun)
147        1         0                          Harrington, Mr. Charles H
148        1         0                        Harris, Mr. Henry Birkhardt
149        1         1       Harris, Mrs. Henry Birkhardt (Irene Wallach)
150        1         0                              Harrison, Mr. William
151        1         1                                 Hassab, Mr. Hammad
152        1         1                        Hawksford, Mr. Walter James
153        1         1                     Hays, Miss. Margaret Bechstein
154        1         0                         Hays, Mr. Charles Melville
155        1         1  Hays, Mrs. Charles Melville (Clara Jennings Gr...
156        1         0                              Head, Mr. Christopher
157        1         0                        Hilliard, Mr. Herbert Henry
158        1         0                        Hipkins, Mr. William Edward
159        1         1                       Hippach, Miss. Jean Gertrude
160        1         1    Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
161        1         1               Hogeboom, Mrs. John C (Anna Andrews)
162        1         0                     Holverson, Mr. Alexander Oskar
163        1         1  Holverson, Mrs. Alexander Oskar (Mary Aline To...
164        1         1                    Homer, Mr. Harry ("Mr E Haven")
165        1         1                       Hoyt, Mr. Frederick Maxfield
166        1         0                           Hoyt, Mr. William Fisher
167        1         1    Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
168        1         1                                Icard, Miss. Amelie
169        1         0                         Isham, Miss. Ann Elizabeth
170        1         1                            Ismay, Mr. Joseph Bruce
171        1         0                         Jones, Mr. Charles Cresson
172        1         0                           Julian, Mr. Henry Forbes
173        1         0                                 Keeping, Mr. Edwin
174        1         0                            Kent, Mr. Edward Austin
175        1         0                            Kenyon, Mr. Frederick R
176        1         1                  Kenyon, Mrs. Frederick R (Marion)
177        1         1                       Kimball, Mr. Edwin Nelson Jr
178        1         1   Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
179        1         0                                 Klaber, Mr. Herman
180        1         1                             Kreuchen, Miss. Emilie
181        1         1                        Leader, Dr. Alice (Farnham)
182        1         1                                LeRoy, Miss. Bertha
183        1         1                             Lesurer, Mr. Gustave J
184        1         0                                  Lewy, Mr. Ervin G
185        1         0  Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Li...
186        1         1          Lindstrom, Mrs. Carl Johan (Sigrid Posse)
187        1         1                          Lines, Miss. Mary Conover
188        1         1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
189        1         0                             Long, Mr. Milton Clyde
190        1         1                      Longley, Miss. Gretchen Fiske
191        1         0                         Loring, Mr. Joseph Holland
192        1         1                               Lurette, Miss. Elise
193        1         1                  Madill, Miss. Georgette Alexandra
194        1         0                           Maguire, Mr. John Edward
195        1         1                              Maioni, Miss. Roberta
196        1         1                               Marechal, Mr. Pierre
197        1         0                          Marvin, Mr. Daniel Warner
198        1         1  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
199        1         1   Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
200        1         0                       McCaffry, Mr. Thomas Francis
201        1         0                            McCarthy, Mr. Timothy J
202        1         1                          McGough, Mr. James Robert
203        1         0                            Meyer, Mr. Edgar Joseph
204        1         1              Meyer, Mrs. Edgar Joseph (Leila Saks)
205        1         0                          Millet, Mr. Francis Davis
206        1         0                        Minahan, Dr. William Edward
207        1         1                             Minahan, Miss. Daisy E
208        1         1    Minahan, Mrs. William Edward (Lillian E Thorpe)
209        1         1                           Mock, Mr. Philipp Edmund
210        1         0                         Molson, Mr. Harry Markland
211        1         0                     Moore, Mr. Clarence Bloomfield
212        1         0                              Natsch, Mr. Charles H
213        1         1                            Newell, Miss. Madeleine
214        1         1                             Newell, Miss. Marjorie
215        1         0                         Newell, Mr. Arthur Webster
216        1         1                       Newsom, Miss. Helen Monypeny
217        1         0                       Nicholson, Mr. Arthur Ernest
218        1         1                       Oliva y Ocana, Dona. Fermina
219        1         1                          Omont, Mr. Alfred Fernand
220        1         1                       Ostby, Miss. Helene Ragnhild
221        1         0                     Ostby, Mr. Engelhart Cornelius
222        1         0                    Ovies y Rodriguez, Mr. Servando
223        1         0                      Parr, Mr. William Henry Marsh
224        1         0                                Partner, Mr. Austen
225        1         0                         Payne, Mr. Vivian Ponsonby
226        1         0                          Pears, Mr. Thomas Clinton
227        1         1                  Pears, Mrs. Thomas (Edith Wearne)
228        1         0         Penasco y Castellana, Mr. Victor de Satode
229        1         1  Penasco y Castellana, Mrs. Victor de Satode (M...
230        1         1                              Perreault, Miss. Anne
231        1         1                     Peuchen, Major. Arthur Godfrey
232        1         0                     Porter, Mr. Walter Chamberlain
233        1         1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
234        1         0                    Reuchlin, Jonkheer. John George
235        1         1                Rheims, Mr. George Alexander Lucien
236        1         0                                Ringhini, Mr. Sante
237        1         0                                Robbins, Mr. Victor
238        1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
239        1         0               Roebling, Mr. Washington Augustus II
240        1         1      Romaine, Mr. Charles Hallace ("Mr C Rolmane")
241        1         0                              Rood, Mr. Hugh Roscoe
242        1         1                      Rosenbaum, Miss. Edith Louise
243        1         0        Rosenshine, Mr. George ("Mr George Thorne")
244        1         0                                Ross, Mr. John Hugo
245        1         1  Rothes, the Countess. of (Lucy Noel Martha Dye...
246        1         0                             Rothschild, Mr. Martin
247        1         1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)
248        1         0                                 Rowe, Mr. Alfred G
249        1         1                        Ryerson, Master. John Borie
250        1         1                         Ryerson, Miss. Emily Borie
251        1         1              Ryerson, Miss. Susan Parker "Suzette"
252        1         0                         Ryerson, Mr. Arthur Larned
253        1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
254        1         1                              Saalfeld, Mr. Adolphe
255        1         1                               Sagesser, Mlle. Emma
256        1         1                             Salomon, Mr. Abraham L
257        1         1                    Schabert, Mrs. Paul (Emma Mock)
258        1         1                            Serepeca, Miss. Augusta
259        1         1                        Seward, Mr. Frederic Kimber
260        1         1                          Shutes, Miss. Elizabeth W
261        1         1                   Silverthorne, Mr. Spencer Victor
262        1         0                          Silvey, Mr. William Baird
263        1         1          Silvey, Mrs. William Baird (Alice Munger)
264        1         1                Simonius-Blumer, Col. Oberst Alfons
265        1         1                       Sloper, Mr. William Thompson
266        1         0                         Smart, Mr. John Montgomery
267        1         0                            Smith, Mr. James Clinch
268        1         0                           Smith, Mr. Lucien Philip

In [39]:
data.deck.nunique()

9